/* CSS File for Tic-Tac-Toe Project */

:root {
    --bg-white: #F5F5F5;
    --bg-gray: #E8E8E8;
    --btn-green: #7CFC00;
    --btn-red: #F88379;
    --btn-blue: black;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-white);
}

.hidden {
    display: none;
}

.play-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    gap: 7.5rem;
}

.players {
    background-color: gainsboro;
    display: flex;
    gap: clamp(25rem, 25vw, 50rem);
}

.player-one, .player-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    gap: 10px;
}

.cell {
    background-color: var(--bg-white);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}